/src/main/resources/public/src/*/*.js
main.js
main.js.map
/src/main/resources/public/src/**/*.js.map
/.gradle/
/build/
/bin/
node_modules
.settings
/gradle/
.classpath
.project
gradlew
gradlew.bat
settings.gradle
.idea/
*.iml
out/

src/main/resources/public/